<html>
	<head>
		<title>File Transfer Unit</title>
		<link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
          crossorigin="anonymous">
          <link rel='icon' href='https://avatars.mds.yandex.net/i?id=434fa51c3e4ee8e0dd99d32708328ddf_sr-5905899-images-thumbs&n=13' type='image/png'>
	</head>
	<body>
		<h1 align="center"><b>Передача файлов</b></h1>
		<main role="main" class="container">
    	{% block content %}{% endblock %}
    </main>
	</body>
</html>